/*Initial setup*/
:root {
    /* TO DO: Assign better names to variables */
    --color-1: grey;
    --color-2: lightblue;
    --color-3: white;
    --color-4: darkgrey;
    --hex-width: 300px;
    --tri-width: calc(var(--hex-width) / 2);
    --tri-height: calc(var(--tri-width) / 2);
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }

body {
    background-color: var(--color-1);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a, a:hover {
    color: black;
}

/*Header*/
.container {
    display: flex;
    flex-direction: row;
    background-color: var(--color-2);
    width: 70vw;
    height: 80vh;
    margin: 10vh auto;
    border-radius: 3vw;
}

header {
    background-color: var(--color-2);
    height: 100%;
    width: 30%;
    border-radius: 3vw 0 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/*Profile picture*/
.hexagon {
    position: relative;
    width: var(--hex-width);
    height: var(--hex-width);
    margin: 30px auto 20px;
}

.triangulo {
    position: absolute;
    width: 50%;
    height: 25%;
    background-color: transparent;
}
 
.tl {
    top: 0;
    left: 0;
    border-right: var(--tri-width) solid transparent;
    border-top: var(--tri-height) solid var(--color-2);
}

.tr {
    top: 0;
    right: 0;
    border-left: var(--tri-width) solid transparent;
    border-top: var(--tri-height) solid var(--color-2);
}

img {
    position: relative;
    width: 100%;
    height: 100%;
}

.bl {
    bottom: 0;
    left: 0;
    border-right: var(--tri-width) solid transparent;
    border-bottom: var(--tri-height) solid var(--color-2);
}

.br {
    bottom: 0;
    right: 0;
    border-left: var(--tri-width) solid transparent;
    border-bottom: var(--tri-height) solid var(--color-2);
}

.baston {
    height: 100%;
    width: 6%;
    position: absolute;
    background-color: var(--color-2);
    top: 0;
}

.derecha {
    right: 0;
}
/* End of profile picture */

.titulo {
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
    margin-top: 1rem;
}

nav {
    background-color: var(--color-4);
    height: 10%;
    width: 80%;
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-item a{
    font-size: 1.1rem;
    color: var(--color-3);
}
/* End of header */

main {
    background-color: var(--color-3);
    height: 100%;
    width: 70%;
    border-radius: 3vw;
}

.card {
    background-color: var(--color-3);
    height: 100%;
    width: 90%;
    border-radius: 3vw 0 0 3vw;
}

